#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.moodboard-items {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  align-content: space-between;

}

.moodboard-item {
  margin: 30px;
  display: flex;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2em;
  color: black;
}
