#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.moodboard-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;

}

.moodboard-item {
  margin: 30px;
  display: flex;
  align-content: flex-start;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2em;
  color: black;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.submit-button {
  margin-top: 20px;
}

.section-start-page {
  display: flex;
  align-content: flex-start;
}

.container-about {
  align-content: flex-start;
}

